
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fabrik';
  font-style: normal;
  font-weight: 400;
  src: local('Fabrik'), local('Fabrik Bold'), url(/fonts/fabrik/fabrik_b.ttf) format('ttf');
}

body{
  font-family: 'News Cycle', sans-serif;
  font-size: 22px;
  line-height: 1;
  color: #444;
  font-weight: 300;
  background-color: black;
}

.Container {
  transition-duration: .7s;
  &.Loading {
    opacity: 0;
    transform: scale(0.7);
  }
  &.Ready {
    opacity: 1;
    margin: 10px;
    transform: scale(1);
    &:hover {
      margin: 0;
    }
  }
  &.Navigating {
    .PageContent {
      transform: translate(0, -300px);
      opacity: 0;
    }
  }
}

.Content {
  transition-duration: .7s;
  position: relative;
  z-index: 1;
  background-color: white;
}

.Menu {
  width: auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  .Active {
    flex-grow: 3;
  }
  a {
    margin-left: 20px;
    &:hover {
      color: black;
      border-bottom: 3px solid black;
    }
  }
}

.Heading {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  h2 {
    font-family: 'Rozha One', serif;
    font-weight: bold;
    font-size: 3rem;
  }
  h3 {
    font-size: 1.6rem;
    color: black;
  }
  .Location {
    opacity: 0.4;
  }
  .Details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.Intro {
  padding: 50px;
  p {
    max-width: 600px;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.Button {
  padding: 5px;
  background-color: rgb(123, 205, 139);
  color: white;
}

img{
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: black;
  padding-bottom: 6px;
  border-bottom: 3px solid transparent;
  transition-duration: 0.4s;
}
