
* {
  box-sizing: border-box;
}

body{
  font-family: 'News Cycle', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  color: #444;
  font-weight: 300;
  background-color: #fefefe;
}

.Container {
  transition-duration: .7s;
  &.Loading {
    opacity: 0;
  }
  &.Ready {
    opacity: 1;
  }
  .PageContent {
    transform: translate(0, 0);
    transition-duration: 0.7s;
    transition-delay: 0.1s;
    opacity: 1;
  }
  &.Navigating {
    .PageContent {
      transform: translate(0, -300px);
      opacity: 0;
    }
  }
}

.Content {
  transition-duration: .7s;
  position: relative;
  z-index: 1;
  .Home {
    padding: 50px;
    background-color: $color-1;
    color: $color-2;
    min-height: 100vh;
    transition-duration: .7s;
    .PageContent {
      max-width: 500px;
    }
  }
  .About {
    padding: 50px;
    background-color: $color-2;
    color: $color-3;
    min-height: 100vh;
    transition-duration: .7s;
  }
  .Portfolio {
    padding: 50px;
    background-color: $color-3;
    color: $color-2;
    min-height: 100vh;
    transition-duration: .7s;
  }
}

.Navigation {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  .Active {
    flex-grow: 3;
  }
  li {
    flex-grow: 1;
    transition-duration: 0.4s;
    &:nth-child(1) {
      background-color: $color-1;
      a {
        color: $color-2;
      }
      &:hover {
        background-color: $color-1-hover;
      }
    }
    &:nth-child(2) {
      background-color: $color-2;
      a {
        color: $color-3;
      }
      &:hover {
        background-color: $color-2-hover;
      }
    }
    &:nth-child(3) {
      background-color: $color-3;
      a {
        color: $color-2;
      }
      &:hover {
        background-color: $color-3-hover;
      }
    }
  }
  a {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align: center;
  }
}

.Button {
  padding: 5px;
  background-color: rgb(123, 205, 139);
  color: white;
}

img{
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #192f7d;
  &:hover {
    color: #122567;
  }
}
h1 {
  font-family: 'Rozha One', serif;
  font-weight: bold;
  font-size: 4rem;
}
h2 {
  font-family: 'Oswald', serif;
  font-weight: 100;
  font-size: 1.6rem;
}
h3 {
  font-family: 'Oswald', serif;
  font-size: 1.3rem;
}
